button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 20px;
    color: #fff;
    cursor: pointer;
}
.bg-red{
    background-color: red;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green;
}
.count{
    width: 100px;
    background: gray;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}

h1{
    background-color: orange;
    color: #fff;
    padding: 10px;
}